USE [master]
GO
/****** Object:  Database [ManagerUser]    Script Date: 2/20/2020 3:39:29 PM ******/
CREATE DATABASE [ManagerUser]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ManagerUser', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ManagerUser.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ManagerUser_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ManagerUser_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ManagerUser].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ManagerUser]
GO
/****** Object:  Table [dbo].[dateDetail]    Script Date: 2/20/2020 3:39:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[dateDetail](
	[date] [varchar](50) NOT NULL,
	[IDDateDetail] [varchar](20) NOT NULL,
	[oldRank] [int] NOT NULL,
 CONSTRAINT [PK_dateDetail] PRIMARY KEY CLUSTERED 
(
	[date] ASC,
	[IDDateDetail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Promotion]    Script Date: 2/20/2020 3:39:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Promotion](
	[IDPro] [varchar](20) NOT NULL,
	[namePro] [varchar](20) NOT NULL,
	[desPro] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[userInPro]    Script Date: 2/20/2020 3:39:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[userInPro](
	[rank] [int] NOT NULL,
	[IDUser] [varchar](20) NOT NULL,
	[IDPro] [varchar](20) NOT NULL,
	[IDDateDetail] [varchar](20) NOT NULL,
	[date] [varchar](50) NULL,
 CONSTRAINT [PK_userInPro] PRIMARY KEY CLUSTERED 
(
	[IDDateDetail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/20/2020 3:39:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[IDUser] [varchar](20) NOT NULL,
	[userName] [varchar](50) NOT NULL,
	[password] [varchar](256) NOT NULL,
	[email] [varchar](20) NOT NULL,
	[phone] [varchar](11) NOT NULL,
	[role] [varchar](10) NOT NULL,
	[status] [varchar](10) NOT NULL,
	[photoName] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[dateDetail]  WITH CHECK ADD  CONSTRAINT [FK_dateDetail_userInPro1] FOREIGN KEY([IDDateDetail])
REFERENCES [dbo].[userInPro] ([IDDateDetail])
GO
ALTER TABLE [dbo].[dateDetail] CHECK CONSTRAINT [FK_dateDetail_userInPro1]
GO
ALTER TABLE [dbo].[userInPro]  WITH CHECK ADD FOREIGN KEY([IDPro])
REFERENCES [dbo].[Promotion] ([IDPro])
GO
ALTER TABLE [dbo].[userInPro]  WITH CHECK ADD FOREIGN KEY([IDUser])
REFERENCES [dbo].[Users] ([IDUser])
GO
USE [master]
GO
